<!DOCTYPE html>
<html>

<head>
    <title>Computed</title>
</head>

<body>
    <div id="app">
        <form action="">
            <input type="text" placeholder="First name" v-model="firstName"><br>
            <input type="text" placeholder="Middle name" v-model="middleName"><br>
            <input type="text" placeholder="Last name" v-model="lastName"><br>
        </form>

        <div>
            Full Name : {{fullName}}
        </div>
    </div>

    <script type="module">
        import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

        createApp({
            data() {
                return {
                    firstName: '',
                    middleName: '',
                    lastName: ''
                }
            },
            computed: {
                fullName() {
                    return this.firstName+' '+this.middleName+' '+this.lastName
                }
            }
        }).mount('#app')
    </script>
</body>

</html>